streamlit==1.36.0
anthropic==0.28.1
openai
tenacity>=8.2.0,<8.4.0
llama-index
llama-index-llms-ollama
llama-index-llms-openai
llama-index-llms-anthropic==0.1.14
llama-index-readers-github
llama-index-embeddings-jinaai
nltk
pypdf
requests
lark-oapi
docx2txt
pandas 
xlsxwriter
streamlit_feedback
langsmith
langchain_community
llama-index-vector-stores-chroma
